* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 3fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
  "header header header header"
  "nav nav aside aside"
  "main main main main"
  "section section section section"
  "footer footer footer footer ";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

main {
  grid-area: main;
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.grid > * {
  background: lightblue;
  padding: 30px;
}

.nested {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.nested p {
  border: 1px solid;
  padding: 20px;
}

li {
  list-style: none;
}
