* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

li {
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50vh);
  grid-gap: 10px;
  grid-template-areas:
  "one two"
  "three four";
}

.grid div {
  background: lightblue;
  padding: 30px;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}
